footer {
  background-color: black;
  padding-top: 25px;
  text-align: center;
}

#app {
  max-height: 50vh;
}

td {
  vertical-align: middle;
  text-align: center;
}

th {
  text-align: center;
}

li {
  color: white;
}

.card {
  height: 100%;
  margin-bottom: 30px;
}

.oszlop {
  margin-bottom: 15px;
}

#html_icon {
  width: 50px;
}
main{
  background-image: url(./tiktok-logo.jpg);
  background-color: black;
  width: 80%;
  padding: 25px;
  text-align: center;
}
h1{
  color: white;
  font-size: 70px;
  margin-bottom: 30px;
}
h2{
  color: white;
}
p{
  color: white;
}
#p1{
  font-size: 28px;
}
.kinai{
  font-style: italic;
}