footer {
  background-color: black;
  padding-top: 25px;
  text-align: center;
}

#app {
  max-height: 50vh;
}

td {
  vertical-align: middle;
  text-align: center;
}

th {
  text-align: center;
}

li {
  color: white;
}

.card {
  height: 100%;
  margin-bottom: 30px;
}

.oszlop {
  margin-bottom: 15px;
}

#html_icon {
  width: 50px;
}